        <!-- Map Section -->
        <div id="map" style="height: 400px;"></div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script>
            // Initialize the map
            var map = L.map('map').setView([0, 0], 7);

            // Add OpenStreetMap tile layer
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            // Add markers for each project
            var projects = JSON.parse('{{ projects_json | safe }}')
            projects.forEach(function(project) {
                var projectMarker = L.marker([project.latitude, project.longitude]).addTo(map);
                projectMarker.bindPopup(project.title);
            });

            // Add a marker for the user's
            function addMarker(lat, lon) {
                L.marker([lat, lon]).addTo(map)
                    .bindPopup('Your Location').openPopup();
            }

            // Check if the browser supports geolocation
            if ('geolocation' in navigator) {
                // Get the user's current location
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    map.setView([latitude, longitude], 13); // Set view to user's location
                    addMarker(latitude, longitude); // Add marker for user's location
                });
            } else {
                console.log('Geolocation is not supported by this browser.');
            }
        </script>