{% extends "base.html" %}

{% block content %}
    <Section class="aboutpage">
        <section class="about_herosection">
            <div class="abouthero_heading">
                <h1>This is TafSIRI!</h1>
                <p id="abouthero_tagline">About</p>
            </div>
        </section>
        <section class="about_section1">
            <div class="about1-textleft">
                <div class="heading">
                    <h1>The<br>
                        TafSIRI<br>
                        Initiative</h1>
                </div>
                <p id="about_tagline">the digital baraza</p>
            </div>
            <div class="about1-textright">
                <p>The TafSIRI initiative is a civic educational/advocacy, interactive website, with a user-friendly interface to encourage public action.</p>
                <p>It encourages impactful, inclusive and people-oriented Urban Development. </p>
            </div>
            <div class="about1-image">
                <img src="../static/images/Picture2cropped.png" alt="TafSIRI in action">
            </div>
        </section>
        <hr>
        <section class="about_section2">
            <h2>About TafSIRI</h2>
                <div class="about2-textbackground"> <!--Project background and conception-->
                    <h3>the background</h3>
                    <p>Public participation is one of the principles of good governance, according to the 2010 Kenyan Constitution. However the approach currently employed for the process is failing, resulting in public markets, streets and schools etc with very poor user-experience.</p>
                    <p>Several discussions on Urban governance allude to public engagement as the key to inclusive and sustainable urban development. We arge that is not enough to ask whether it has been done. Its quality has to come to question as well.</p>
                </div>

                <div class="about2-textproblem">
                    <h3>the problem</h3>
                    <p>Inaccessible or incomprehensive information on infrastructure projects leads to poor engagement which leads to ineffective public participation. Often this challenge is caused by difficulties in accessing proposed plans. The majority of the public are often uninvited to the discussion forum.</p>
                    <p>Even when the drawings are provided, there is a challenge in understanding the proposed complex technical Architectural/Engineering plans and specifications, by the majority of the population. While the presentations in the forums are expertly done, to the untrained eyes and minds, it is just garble.</p>

                </div>
                <div class="about2-textsolution">
                    <h3>the solution</h3>
                    <p>The initiative will solicit Architectural/Engineering plans and specifications from government offices and Public Works Departments. Leveraging heavily on Architectural visualization through Computer-Aided Design, we will avail the visually-interpreted photorealistic renders to the public via the website.</p>
                    <p>The feedback on individual projects will then consolidated and presented at the relevant offices within the National and County governments' structure on behalf of the people. These institutions will be promptly encouraged to constantly provide updates on the decisions made with regards to the feedback collected from the public.</p>
                </div>

        </section>
        <hr>
        <section class="about_section3">
            <div class="about3-textleft">
                <h2>The TafSIRI team</h2>
                <p>Teamwork makes the dream work, or so they say!</p>
                <p>Are you a young person who wants to make a lasting impact?</p>
                <p>Contribute your skills to better your community.</p>
                <a href=""><button class="about3-button">Join us today</button></a>
            </div>
            <div class="about3-textright">
                <h3>Meet the TafSIRI core Team</h3>
                <table>
                    <tr>
                        <div class="about3-team">
                        <td style="width: 350px;"><img src="../static/images/WhatsApp Image 2024-03-05 at 19.31.51_e6a21873.jpg" alt="Steph photo" id="about3-teamimage"></td>
                        <td style="width: 350px;"><img src="../static/images/IMG_20240219_141435.jpg" alt="Fiona photo" id="about3-teamimage"></td>
                        </div>
                    </tr>
                    <tr>
                        <td style="width: 350px;"><p><b>Steffanie Chepkirui</b><br>
                            Software Engineer/Co-founder</p>
                        </td>
                        <td style="width: 350px;"><p><b>Fiona Nyadero</b><br>
                            Software Engineer/Co-founder</p>
                        </td>
                    </tr>
                    
                </table>
            </div>
        </section>
        <section class="about_section4">
            <div class="about4-text">
            <h2>Partnerships</h2>
            <p>We are always on the look out for partners to collaborate together towards meaningful public engagements.</p>
            <p>If this is you, kindly write to us, at tafsiri@gmail.com, expressing your interest!</p>
            <p>We would love to hear from you, Partner!</p>
            </div>
        </section>
    </Section>
{% endblock %}