{% extends "base.html" %}

{% block content %}
    <section class="about_herosection">
        <div class="main-body">
            <div class="hero-section">
                <div class="carousel-slide">
                    <img src="img388.jpg" alt="Slide 1">
                </div>
            </div>
    </section>

    <section class="about_section2">
            <div class="info-section">
                <div class="info-left">
                    <div class="heading">
                        <h1>The</h1>
                        <h1>TafSIRI</h1>
                        <h1>Initiative</h1>
                    </div>
                    <p id="tagline">THE DIGITAL BARAZA</p>
                </div>
                <div class="info-right">
                    <p>TafSIRI makes civic engagement fun!</p>
                    <p>The easy platform lets you explore, ask questions and join community conversations on the latests developments</p>
                    <p>TafSIRI encourages curiosity and welcomes all questions and ideas!</p>
                    <p>Sign up to make informed decisions with TafSIRI!</p>
                </div>
            </div>
    </section>

    <section class="about_section3">
                <div class="about"> <!--Project background and conception-->
                    <h2>About</h2>
                    <p>The TafSIRI Initiative is an innovative platform designed to enhance and streamline Public Participation in infrastructure projects at the County level.</p>
                    <p>The term "TafSIRI" originates from the Swahili word 'Tafsiri,' meaning 'to decode/interpret/translate.'</p>
                </div>
        </div>

    </section>

    <section class="about_section4">
        <div><h2>The TafSIRI team</h2></div>
    </section>

    <section>
        <div><h2>Partnerships</h2></div>
    </section>
    {% endblock %}