<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial_scale=1, width=device-width">
        
        <!--title change-->
        {% if title %}
        <title> {{ title }} - TafSIRI Initiative</title>
        {% else %}
        <title>Welcome to TafSIRI!</title>
        {% endif %}

        <!--Stylesheets-->
        <link rel="stylesheet" href="../static/styles_Fi.css">
        <link rel="stylesheet" href="../static/styles_St.css">
        <link rel="stylesheet" href="../static/catalogue.css">
        <link rel="stylesheet" href="../static/landing.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-.........." crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <div class="header-left">
                <img src="{{ url_for('static', filename='images/Tafsiri logo blue.png') }}" alt="Logo" class="logo">
                <div class="dropdownMenu">
                    <!-- Menu Button failed implementation
                    <div class="dropdown-content">
                        <a href="#">Home</a>
                        <a href="#">Catalogue</a>
                        <a href="#">Partnerships</a>
                        <a href="#">Blog</a>
                    </div>
                    -->
                </div>
            </div>

            <div class="header-center">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="/catalogue">Catalogue</a>
                <a href="partnerships.html">Partnerships</a>
                <a href="blog.html">Blog</a>
            </div>

            <div class="header-right">
                <!-- <form action="">
                    <input type="text" placeholder="Search">
                </form> -->
                {% if current_user.Username %}
                    {% if current_user.Type != 'Admin' %}
                    <a href="{{ url_for('user', username=current_user.Username) }}"><i>Hi, {{ current_user.Username }}!</i></a>
                    {% else %}
                    <a href="{{ url_for('admin', username=current_user.Username) }}"><i>Hi Admin, {{ current_user.Username }}!</i></a>
                    {% endif %}
                {% endif %}

                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}" class="loginbutton">Log In</a>
                {% else %}
                <a href="{{ url_for('logout') }}" class="loginbutton">Log Out</a>
                {% endif %}
            </div>
        </header>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <footer>
            <div class="footer-left">
                <h3>Contact Us</h3>
                <p>Drop your queries and comments below!</p>
                <form class="" action="">
                    <div class="form-floating">
                        <label for="floatingInput">Name: </label>
                        <input type="name" class="form-control" id="floatingInput" placeholder="Name">
                    </div>
                    <div class="form-floating">
                        <label for="floatingInput">Email address: </label>
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    </div>
                    <div class="form-floating">
                        <label for="floatingInput">Message: </label>
                        <input type="text" id="message" class="form-control" placeholder="Message">
                    </div>
                    <input type="submit" class="form-button">
                </form>
            </div>
            <div class="footer-right">
                <h3>Our Contacts</h3>
                <p>Our friendly Public Liason is available from Monday to Friday 8.30am-5pm to assist with your enquiries.</p>
                <div class="address">
                    P. 0. Box 24680-08642,
                    <div>Nairobi-Kenya.</div>
                </div>
                <div class="email-address">
                    Email: tafsiriinitiative@gmail.com
                </div>
                <div 
                class="mobile">
                    Mobile: +254 712 345678, +254 787 654321 
                </div>
                <div class="social-media">
                    <h3>Social Links</h3>
                    <div class="social-icons">
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="developers">
                    Developed by: Stephanie Chepkirui, Fiona Nyadero
                </div>
                <div class="copyright">
                    <p>&copy; 2024 TafSIRI. All rights reserved.</p>
                </div>
            </div>
        </footer>
        {{ moment.include_moment() }}
        <script src="script.js"></script>
    </body>
</html>