<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial_scale=1, width=device-width">
        
        <!--title change-->
        {% if title %}
        <title> {{ title }} - TafSIRI Initiative</title>
        {% else %}
        <title>Welcome to TafSIRI!</title>
        {% endif %}

        <!--Stylesheets-->
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-.........." crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <div class="header-left">
                <img src="Tafsiri logo blue.png" alt="Logo" class="logo">
                <div class="dropdownMenu">
                    <button class="dropbtn" type="button" data-bs-toggle="collapse">
                        <span class="Picture8.png"></span>
                    </button>
                    <!-- Menu Button failed implementation
                    <div class="dropdown-content">
                        <a href="#">Home</a>
                        <a href="#">Catalogue</a>
                        <a href="#">Partnerships</a>
                        <a href="#">Blog</a>
                    </div>
                    -->
                </div>
            </div>

            <div class="header-center">
                <a href="/index">Home</a>
                <a href="/catalogue">Catalogue</a>
                <a href="partnerships.html">Partnerships</a>
                <a href="blog.html">Blog</a>
            </div>

            <div class="header-right">
                <form action="">
                    <input type="text" placeholder="Search">
                </form>
                <h1>Hello, {{ user.username }}!</h1>
                <!-- <a href="login.html" class="loginbutton">Log In</a> -->
            </div>
        </header>
       {% block content %}{% endblock %}
       <footer>
            <div class="footer-left">
                <img src="Tafsiri logo white.png" alt="Logo" class="logo-footer">
                TafSIRI Initiative
            </div>
            <div class="footer-middle">
                <div class="social-media">
                    <div class="social-icons">
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="copyright">
                    <p>&copy; 2024 TafSIRI. All rights reserved.</p>
                </div>
            </div>
    </footer>
        <script src="script.js"></script>
    </body>
</html>