{% extends "base.html" %}

{% block content %}
    <!-- Body Section -->
    <section class="body-section">
        <h1>Welcome to TafSIRI Initiative Catalog</h1>
        <p class="tagline">The Digital Baraza</p>

        <!-- About Section -->
        <div class="about">
            <h2>About</h2>
            <p>
        
The TafSIRI Initiative is an innovative platform designed to enhance and streamline Public Participation in infrastructure projects at the County level. The term "TafSIRI" originates from the Swahili word 'Tafsiri,' meaning 'to decode/interpret/translate.'

            </p>
        </div>

        <!-- Map Section -->
        <div id="map" style="height: 1050px; width: 1050px;" ></div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script>
            // Initialize the map
            var map = L.map('map').setView([0, 0], 6);

            // Add OpenStreetMap tile layer
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            // Add markers for each project
            var projects = JSON.parse('{{ projects_json | safe }}')
            projects.forEach(function(project) {
                var projectMarker = L.marker([project.latitude, project.longitude]).addTo(map);
                projectMarker.bindPopup(project.title);
            });

            // Add a marker for the user's
            function addMarker(lat, lon) {
                L.marker([lat, lon]).addTo(map)
                    .bindPopup('Your Location').openPopup();
            }

            // Check if the browser supports geolocation
            if ('geolocation' in navigator) {
                // Get the user's current location
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    map.setView([latitude, longitude], 13); // Set view to user's location
                    addMarker(latitude, longitude); // Add marker for user's location
                });
            } else {
                console.log('Geolocation is not supported by this browser.');
            }
        </script>

        <!-- Search Section -->
        <div class="search">
            <h2>Search</h2>
            <form id="searchForm">
                <label for="searchInput">Search Projects:</label>
                <input type="text" id="searchInput" name="searchInput" placeholder="Enter keywords...">
                <label for="categoryFilter">Category:</label>
                <select id="categoryFilter" name="categoryFilter">
                    <option value="">All Categories</option>
                    <option value="Environment">Environment</option>
                    <option value="Parks and Recreation">Parks and Recreation</option>
                    <option value="Transport and Mobility">Transport and Mobility</option>
                    <option value="Technology">Technology</option>
                    <option value="Education">Education</option>
                    <option value="Planning">Planning</option>
                    <option value="Community">Community</option>
                    <option value="Culture">Culture</option>
                    <option value="Megaproject">Megaproject</option>

                </select>
                <label for="countyFilter">County:</label>
                <select id="countyFilter" name="countyFilter">
                    <option value="">All Counties</option>
                    <option value="Kwale">Kwale</option>
                    <option value="Kilifi">Kilifi</option>
                    <option value="Tana River">Tana River</option>
                    <option value="Lamu">Lamu</option>
                    <option value="Taita-Taveta">Taita-Taveta</option>
                    <option value="Garissa">Garissa</option>
                    <option value="Wajir">Wajir</option>
                    <option value="Mandera">Mandera</option>
                    <option value="Marsabit">Marsabit</option>
                    <option value="Isiolo">Isiolo</option>
                    <option value="Meru">Meru</option>
                    <option value="Tharaka-Nithi">Tharaka-Nithi</option>
                    <option value="Embu">Embu</option>
                    <option value="Kitui">Kitui</option>
                    <option value="Machakos">Machakos</option>
                    <option value="Makueni">Makueni</option>
                    <option value="Nyandarua">Nyandarua</option>
                    <option value="Nyeri">Nyeri</option>
                    <option value="Kirinyaga">Kirinyaga</option>
                    <option value="Murang'a">Murang'a</option>
                    <option value="Kiambu">Kiambu</option>
                    <option value="Turkana">Turkana</option>
                    <option value="West Pokot">West Pokot</option>
                    <option value="Samburu">Samburu</option>
                    <option value="Trans Nzoia">Trans Nzoia</option>
                    <option value="Uasin Gishu">Uasin Gishu</option>
                    <option value="Elgeyo-Marakwet">Elgeyo-Marakwet</option>
                    <option value="Nandi">Nandi</option>
                    <option value="Baringo">Baringo</option>
                    <option value="Laikipia">Laikipia</option>
                    <option value="Nakuru">Nakuru</option>
                    <option value="Narok">Narok</option>
                    <option value="Kajiado">Kajiado</option>
                    <option value="Kericho">Kericho</option>
                    <option value="Bomet">Bomet</option>
                    <option value="Kakamega">Kakamega</option>
                    <option value="Vihiga">Vihiga</option>
                    <option value="Bungoma">Bungoma</option>
                    <option value="Busia">Busia</option>
                    <option value="Siaya">Siaya</option>
                    <option value="Kisumu">Kisumu</option>
                    <option value="Homa Bay">Homa Bay</option>
                    <option value="Migori">Migori</option>
                    <option value="Kisii">Kisii</option>
                    <option value="Nyamira">Nyamira</option>
                    <option value="Nairobi">Nairobi</option>

                </select>
                <button type="button" onclick="performSearch()">Search</button>
            </form>
        </div>

        <!-- Slide show of Projects -->
        <div class="project-tiling">
            <h2>Projects</h2>
            {% for project in projects %}
                {{ project.Title }}
                {% if project.Cover_photo %}
                    <img src="" alt="{{ project.Title }} Thumbnail">
                {% else %}
                    <img src="../static/images/Illustrate the spiri (1).jpg" alt="Placeholder Thumbnail" class="CataloguePlaceholderThumnail">
                {% endif %}
                <p>50 comments</p>
                <p>View and comment on the proposal for {{ project.Title }}</p>
                <button><a href="{{ url_for('project', projectname=project.Title) }}">View details</a></button>
            {% endfor %}
        </div>
    </section>

{% endblock %}