{% extends "base2.html" %}

{% block content %}
    <h1>Have your say</h1>
    <h2>Feedback for {{ project.Title }}</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p><b>How does this project make you feel?</b></p>
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating(size=48) }}<br>
            {% for error in form.rating.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><b>Why do you feel so?</b></p>
        <p>
            {{ form.rating_reason.label }}<br>
            {{ form.rating_reason(cols= 48, rows=4) }}<br>
            {% for error in form.rating_reason.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><b>How would you improve it?</b></p>
        <p>
            {{ form.suggestions.label }}<br>
            {{ form.suggestions(cols= 48, rows=4) }}<br>
            {% for error in form.suggestions.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}