{% extends "base.html" %}

{% block content %}
    <h1>Manage Projects</h1>
    <p>Here's where you can modify an existing project or add one, if you like!</p>
    <button><p><a href="{{ url_for('add_project') }}">Add a Project</a></p></button>

    <div class="project-tiles">
        <h2>Projects</h2>
        <p>A list of all the projects can be found below:</p>
        {% for project in projects %}
        <table>
            <tr valign="top">
                <td><a href="{{ url_for('project', projectname=project.Title) }}"><img src="" alt="project thumbnail"></a></td>
                <td><h3>{{ project.Title }}</h3>
                    <p>{{ project.Description }}</p>
                    {% if project.Deadline != None %}
                        <p><b>Submission Deadline: </b>{{ project.Deadline}}</p>
                    {% endif %}
                    <p><b>Phase: </b>{{ project.Phase }}</p>
                    <button><p><a href="{{ url_for('edit_project', projectname=project.Title) }}">Edit Project</a></p></button>
                </td>
            </tr>
        </table>
        {% endfor %}
    </div>
{% endblock %}