{% extends "base2.html" %}

{% block content %}
    <button><a href="{{ url_for('projects') }}">Back to all Projects</a></button>
    <div class="project_hero-section">
        <div class= "project_coverphoto">
            {% if project.Cover %}
                <img src="../static/projects/{{ project.id }}/coverphoto.jpg" alt="{{ project.Title }} coverphoto" id="">
            {% else %}
                <img src="../static/projects/{{ project.id }}/photo1.jpg" alt="{{ project.Title }} coverphoto">
            {% endif %}
        </div>
        <div><h1><b>{{ project.Title }}</b></h1></div>
        <p class="project-hero_text">{{ project.Description }}</p>
        <button type="submit">+ Follow</button>
    </div>
    <hr>
    <h2>Background</h2>
    <p>{{ project.Background }}</p>

    <h2>The Proposal</h2>
    <p>{{ project.Proposal }}</p>

    <h2>Project Extent</h2>
    <p>map goes here</p>

    <h2>Document Library</h2>
    <h3>3D visualisations</h3>
        <img src="../static/projects/{{ project.id }}/photo1.jpg" alt="{{ project.Title }} photo1">
        <img src="../static/projects/{{ project.id }}/photo2.jpg" alt="{{ project.Title }} photo2">
        <img src="../static/projects/{{ project.id }}/photo3.jpg" alt="{{ project.Title }} photo3">
    <h3>Plans and Specifications</h3>
    Here are some of the plans:
        <img src="../static/projects/{{ project.id }}/plan1.png" alt="{{ project.Title }} plan1">
        <img src="../static/projects/{{ project.id }}/plan2.png" alt="{{ project.Title }} plan2">
    
    <h2>Have your say</h2>
    <button><a href="{{ url_for('project_feedback', projectname=project.Title) }}">Have your Say!</a></button>
    <p>Thank you for your interest in this project. By completing the feedback form you agree to our privacy policy. Please remember to <a href="{{ url_for('login') }}">log in</a> to provide your feedback.</p>
    
    <h2><b>Who's Listening</b></h2>
    <p><b>Proponent: </b>{{ project.Author.Username}}</p>
    <p><b>Email: </b>{{ project.Author.Email }}</p>
    <p><b>Phone: </b>{{ project.Author.Phone_number }}</p>
    
    <hr>
    <h2>Sustainable Development Goals(SDGs)</h2>
    <p>Here's how this project contributes towards sustainable development:</p>
    <p><b>{{ project.SDGs }}</b></p>
    
    <button><a href="{{ url_for('projects') }}">Back to all Projects</a></button>
    {% if current_user.Type == 'Admin' %}
        {% include '_projectAdmin.html' %}
    {% endif %}

{% endblock %}