{% extends "base2.html" %}

{% block content %}
    <div class="project_hero-section">
        <img src="" alt="project cover photo" id="">
        <div><h1><b>{{ project.Title }}</b></h1></div>
        <p class="project-hero_text">This is a short deescription</p>
        <button type="submit">+ Follow</button>
    </div>
    <hr>
    <h2>Background</h2>
    <p>Some random text</p>

    <h2>The Proposal</h2>
    <p>Some random text</p>

    <h2>Project Extent</h2>
    <p>map goes here</p>

    <h2>Document Library</h2>
    <h3>3D visualisations</h3>
    Some random 3d pictures
    <h3>Plans and Specifications</h3>
    Some random pdfs and scans
    
    <h2>Have your say</h2>
    <button type="submit">Have your Say!</button>
    <p>Thank you for your interest in this project. By completing the feedback form you agree to our privacy policy. Please remember to <a href="{{ url_for('login') }}">log in</a> to provide your feedback.</p>
    
    <h2><b>Who's Listening</b></h2>
    <p><b>Proponent: </b>{{ project.Author.Username}}</p>
    <p><b>Email: </b>{{ project.Author.Email }}</p>
    <p><b>Phone: </b>{{ project.Author.Phone_number }}</p>
    
    <hr>
    <h2>Sustainable Development Goals(SDGs)</h2>
    <p>Here's how this project contributes towards sustainable development:</p>

{% endblock %}