{% extends "base.html" %}

{% block content %}
    <h1>Welcome to TafSIRI Initiative</h1>
    <p class="tagline">The Digital Baraza</p>

    <!-- Signup Form -->
    <div class="signup-form">
        <h2>Sign Up</h2>
        <form action="" method="post" class="form-group">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=48) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=48) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=48) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=48) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.phone_number.label }}<br>
                {{ form.phone_number(size=48) }}<br>
                {% for error in form.phone_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.date_of_birth.label }}<br>
                {{ form.date_of_birth(size=48) }}<br>
                {% for error in form.date_of_birth.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
