<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gradient Landing Page</title>
    <link rel="stylesheet" href="landingbackground.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <header>
        <div class="header">
            <nav class="navigation">

                <a href="#" class="navbar-logo">
                    <img src="Tafsiri logo blue.png" alt="Tafsiri Logo">
                </a>
                <div class="title-container">
                    <h1 class="gradient-text">Where you see all architectural projects</h1>
                    <p>The Digital Baraza</p>
                <div class="navbar-right">
                    <a href="#">Product</a>
                    <a href="#">Developer</a>
                    <a href="#">Company</a>
                    <a href="#">Pricing</a>
                    <a href="#">Support</a>
                    <a href="#">Sign in</a>
                </div>
            </nav>
        </div>
    </header>

    <div class="block">
        <span></span> 
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="text">
        <h2 class="alegreya-heading">Welcome to TafSIRI: Decoding Architectural Futures</h2>
        <p>Explore the future of architectural projects with us. Decode blueprints into a language everyone can understand. Embark on a journey with TafSIRI, where architectural innovation meets civic engagement.</p>
        <div class="button-area">
            <a href="homepage.html">Learn More</a>
        </div>
    </div>
    <div class="image-wrapper-tablet">
        <image src="https://stripe.com/img/v3/home/app-illustrations/salesforce.svg" alt="">
    </div>
    <div class="image-wrapper-phone">
        <image src="https://stripe.com/img/v3/home/app-illustrations/instacart.svg" alt="">
    </div>
    <div class="image-wrapper-phone-small">
        <image src="https://stripe.com/img/v3/home/app-illustrations/instacart.svg" alt="">
    </div>
    <div class="image-wrapper-tablet-portrait">
        <image src="https://stripe.com/img/v3/home/app-illustrations/salesforce.svg" alt="">
    </div>
</body>
</html>